<DOCTYPE! html>
<html>
<head>
	<title>IC-PIP</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://use.fontawesome.com/df1d0ced8a.js"></script>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8"/>
</head>
<body>
    
	<nav class="navbar navbar-light navbar-toggleable-md bg-faded" style="background-color: #;">

      <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="bs-example-navbar-collapse-1" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">IC-PIP <i class="fa fa-space-shuttle" aria-hidden="true"></i> </a>

            
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
            </li>
        <li class="nav-item">
            <a href="/blogs/new" class="nav-link">New Post</a>
            </li>
        </ul>

		</div>
	</nav>