<% include ./partials/header %>

<div class="main container form-group">
	<div class="display-4 post-header">Post a note!</div>
	<form class="ui form" action="/blogs" method="POST">
	<div class="form-group">
		<label class="col-sm-2 col-form-label">Title</label>
		<input type="text" class="form-control" name="blog[title]" placeholder="Enter the title">
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-form-label">Image</label>
		<input type="text" class="form-control" name="blog[image]" placeholder="URL">
		</div>
		<div class="form-group">
		<label class="col-sm-2 col-form-label">Content</label>
		<textarea name="blog[body]" class="form-control" rows="10" placeholder="Write your note"></textarea>
		</div>
		<input class="btn btn-primary" type="submit">
	</form>
</div>

<% include ./partials/footer %>